// Variables
$mainclr: #f4b350;
$pclr: #999999;
$navclr: #222222;
$navUlclr:#333;
$fullScreen: 74vw;
$whiteclr: #fff;
$sliderHclr: #b5aeae;
$sliderFontSiz: 2.5rem;
$secPadding: 5rem 0;
$linHight: 2;
//medias
// $font-size for sepcial sec
$secSpecialsize: 13px;
$secStatisSize: 12px;
$smallwidthP: 27rem;
$fontSize10: 10px;
$fontSize11: 11px;
$fontSize13: 13px;
$verysmallHeading: 27px;
$secPaddingSmall: 1rem 0;
